
<div class="container">
    <div class="panel panel-info">

        <div class="panel-body">
            <form id="customerForm" name="customerForm" class="form-horizontal" role="form">
                Name:<input id="custName" type="text" class="form-control" name="custName" value="" ng-model="newCust.name" style="width: 545px" required>
                City :<input id="custCity" type="text" class="form-control" name="custCity" value="" ng-model="newCust.city" style="width: 545px" required>
                </div>

                <button class="btn btn-primary" ng-click="createCustomer()">Create </button>

            </form>
        </div>
    </div>

</div>